body, div, dl, dt, dd, ul, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, input, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

fieldset, img, abbr {
  border: 0; }

address, caption, cite, code, dfn, em, strong, th, var {
  font-style: normal;
  font-weight: normal; }

ul li {
  list-style: none; }

caption, th {
  text-align: left; }

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal; }

sup {
  vertical-align: text-top; }

sub {
  vertical-align: text-bottom; }

input, textarea, select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit; }

legend {
  color: #000; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, main {
  display: block; }

img {
  max-width: 100%;
  height: auto; }

body {
  font-size: 15px;
  font-family: 'Open Sans', sans-serif; }

div, p, input, form, button, span, a {
  box-sizing: border-box; }

a {
  text-decoration: none; }

ul, li {
  display: block;
  padding: 0;
  margin: 0; }

.d-flex {
  display: flex; }

h1, h2, h3, h4, h5 {
  color: #323232; }

p {
  color: #8b8b8b;
  line-height: 1.6em; }

section {
  padding: 48px 0 67px; }

.header {
  background: url(../img/first-bg.jpg) no-repeat center top;
  padding-bottom: 204px;
  padding-top: 50px;
  color: #fff; }

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 0;
  padding-right: 0; }

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px; }

.row {
  justify-content: space-between; }

.justify-content-center {
  justify-content: center; }

.logo {
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
  width: calc(16.66667% - 30px);
  display: block;
  width: 147px; }

.hamburger {
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
  width: calc(8.33333% - 30px);
  width: 24px; }

.hamburger span {
  background: #fff;
  display: block;
  height: 2px;
  margin-bottom: 5px; }

.offer {
  margin-top: 170px;
  text-align: center; }
  .offer__title {
    font-size: 52px;
    font-weight: 300;
    color: #fff; }

.offer__form {
  display: flex;
  margin-top: 24px; }
  .offer__form input {
    background: #fff;
    border: 0;
    width: 328px;
    display: block;
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 16px; }
  .offer__form button {
    background: #fd4f32;
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
    width: 125px;
    height: 10px 0;
    cursor: pointer;
    display: block;
    border: none; }

.destinations {
  background: #eeee;
  padding: 48px 0 67px; }

.section-title {
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
  width: calc(100% - 30px); }

.section-title__heading {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 10px; }

.section-title__text {
  font-size: 15px;
  color: #8b8b8b; }

.route {
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
  width: calc(25% - 30px);
  margin-top: 35px;
  border-bottom: 2px solid #e1e0d8;
  background: #fff; }
  .route__photo {
    position: relative; }
  .route__img {
    display: block;
    width: 100%; }
  .route__price {
    position: absolute;
    font-size: 13px;
    color: #fff;
    bottom: 14px;
    right: 20px; }
  .route__title {
    text-transform: uppercase;
    font-size: 14px;
    margin-top: 14px;
    margin-left: 20px;
    margin-right: 20px;
    font-weight: 700; }
  .route__desc {
    font-size: 13px;
    margin-top: 8px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 15px; }
