
.section-title__heading__bigger {
	 font-size: 52px;
	 text-transform: none;
	 font-weight: 300;
}

.detail {
	@include col();
	@include size (4);
	@include size-sm(6);
  	@include size-xs(12);

	margin-top: 45px;

	&__title{
		font-size: 16px;
		text-transform: uppercase;
	}

	&__text {
		font-size: 15px;
		margin-bottom: 10px;
	}
}

@media (max-width: 768px) {
  .destinations {
    &-item {
      width: calc(50% - #{$small} * 2);
      margin: $large/2 $small;
    }
  }
}

@media (max-width: 450px) {
  .destinations {
    &-item {
      width: calc(100% - #{$small} * 2);
    }
  }
}