@import "smart-grid";

@include reset();

body {
	font-size: 15px;
	font-family: 'Open Sans', sans-serif;
}

div, p, input, form, button, span, a {
	box-sizing:border-box;
}

a {
	text-decoration: none;
}

ul,li {
	display: block;
	padding: 0;
	margin: 0;
}

.d-flex {
	display: flex;
}

h1,h2,h3,h4,h5 {
	color: #323232;
}

p {
	color: #8b8b8b;
	line-height: 1.6em;
}

section {
  padding: 48px 0 67px;
}


.header {
	background: url(../img/first-bg.jpg) no-repeat center top;
	padding-bottom: 204px;
	padding-top: 50px;
	color: #fff;
}

.container {
	@include wrapper();
}

.container {
	@include lg(margin-left, 20px);
	@include lg(margin-right, 20px);
}

.row {
	@include row-flex();
}

.row {
	justify-content: space-between;
}

.justify-content-center {
	justify-content: center;
}

.logo {
	@include col();
	@include size(2);
	display: block;
	width: 147px;
	
}

.hamb {
	@include col();
	@include size(1);
	width: 24px;
}

.hamb span {
	 background: #fff;
	 display: block;
	 height: 2px;
	 margin-bottom: 5px;
}

.offer {
	margin-top: 170px;
	text-align: center;

	&__title {
		font-size: 52px;
		font-weight: 300;
		color: #fff;

		@include sm(font-size, 40px);
		@include xs(font-size, 25px);

	  }
}


.offer__form {
	display: flex;
	margin-top: 24px;
	@include xs (flex-direction, colum);

& input {
	background: #fff;
	border: 0;
	width: 328px;
	display: block;
	padding-left: 15px;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 16px;
	@include xs (width, auto);
  }

  & button {
  	background: #fd4f32;
  	color: #fff;
  	font-weight: 700;
  	font-size: 16px;
  	text-transform: uppercase;
  	width: 125px;
	height: 10px 0;
	cursor: pointer;
	display: block;	
	border: none;
	@include xs (width, auto);
  }
}

.destinations {
	background: #eeee;
	padding: 48px 0 67px;

}

.section-title {
	@include col();
	@include size(12);
}

.section-title__heading {
	text-transform: uppercase;
		font-size: 16px;
		font-weight: 700;
		margin-bottom: 10px;
}
.section-title__text {
	font-size: 15px;
		color: #8b8b8b;

}


.route {
	@include col();
	@include size(3);
	@include size-sm(6);
  	@include size-xs(12);

	margin-top: 35px;
	border-bottom: 2px solid #e1e0d8;
	background: #fff;

	&__photo {
		position: relative;
		}

	&__img {
		display: block;
		width: 100%;
		}

	&__price {
		position: absolute;
		font-size: 13px;
		color: #fff;
		bottom: 14px;
		right: 20px;
	}

	&__title {
	text-transform: uppercase;
	font-size: 14px;
	margin-top: 14px;
	margin-left: 20px;
	margin-right: 20px;
	font-weight: 700;
	}

	&__desc {
		font-size: 13px;
		margin-top: 8px;
		margin-left: 20px;
		margin-right: 20px;
		margin-bottom: 15px;
	}

}

 	// DETAILES

.details{

}

.section-title__heading__bigger {
	 font-size: 52px;
	 text-transform: none;
	 font-weight: 300;
}

.detail {
	@include col();
	@include size (4);
	@include size-sm(6);
  	@include size-xs(12);

	margin-top: 45px;

	&__title{
		font-size: 16px;
		text-transform: uppercase;
	}

	&__text {
		font-size: 15px;
		margin-bottom: 10px;
	}
}

 // FOOTER


.footer {
	background: #eee;
	padding: 24px 0;
}

.credits {
	@include col();
	@include size(6);
	@include size-xs(12);
	font-size: 14px;
	color: #8b8b8b
}

.footer .container > .row {
  @include xs(flex-direction, column);
}

.menu {
		@include col();
		@include size(4);
		@include size-xs(12);

		@include xs(margin-top, 20px);
		
		justify-content: flex-end;

		@include xs(flex-direction, column);

	&__item {
		margin-left: 19px;
		@include xs(text-align, center);
    	@include xs(margin-bottom, 20px);
   		@include xs(margin-left, 0);

		& a {
			font-size: 14px;
			text-transform: uppercase;
			color: #323232

		}
	}
}


