@import 'smart-grid';
@include reset();

body {
	font-size: 15px;
	font-family: 'Open Sans', sans-serif;
}

div, button, p, input, form, span a {
	box-sizing: border-box;
}

.header {
	background: url(../img/first-bg.jpg) no-repeat center top;
	padding-top: 50px;
	color: #fff;
	padding-bottom: 206px;
}

.container {
	@include wrapper();
}

.row {
	@include row-flex();
}

.row {
	justify-content: space-between;
}

.justify-content-center {
	justify-content: center;
}

.hamb {
	width: 24px;
	cursor: pointer;
}

.hamb span {
	background: #fff;
	display: block;
	height: 2px;
	margin-bottom: 5px;
}

.offer {
	margin-top: 170px;
	text-align: center;

	&__title {
	font-size: 52px;
	font-weight: 300;
 	}
}

.offer__form {
	
	display: flex;
	margin-top: 24px;

	& input {
		background: #fff;
		border: 0;
		width: 328px;
		padding-left: 15px;
		padding-top: 8px;
		padding-bottom: 8px;
		font-size: 16px;
	}

	& button {
		background: #fd4f32;
		color: #fff;
		font-weight: 700;
		font-size: 16px;
		text-transform: uppercase;
		width: 125px;
		padding: 10px 0;
		cursor: pointer;
		display: block;
		border: none;
	}
}
